@import 'tailwindcss';

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php'; */
/* @source '..*.blade.php'; */
/* @source '..*.js'; */

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */
@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
}

@layer components {
    .navbar-fixed {
        @apply fixed w-full z-9999 bg-white/80;
        backdrop-filter: blur(8px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
    }

    .navbar-transparent {
        @apply bg-transparent;
    }

    .hamburger-line {
        @apply w-6 h-0.5 bg-black block transition-all duration-300;
    }

    .hamburger-active span:nth-child(1) {
        @apply rotate-45 translate-y-[6px];
    }

    .hamburger-active span:nth-child(2) {
        scale: 0;
    }

    .hamburger-active span:nth-child(3) {
        @apply -rotate-45 -translate-y-[6px];
    }
}
